extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="iamgen sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina 
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam venenatis mauris vel egestas sagittis. Aenean sed posuere arcu, nec auctor eros. Phasellus auctor erat velit, in suscipit purus tempor vitae. Ut quis dolor sed neque pulvinar convallis eu at sapien. Ut consequat, ex sed efficitur efficitur, orci odio pulvinar purus, et dictum neque eros vel tortor. Quisque consequat cursus metus a luctus. Integer accumsan purus justo, eu dictum tortor molestie nec. Vivamus tempus interdum leo ut euismod. Nulla iaculis felis aliquam volutpat scelerisque. Vestibulum nec nulla imperdiet, accumsan diam a, commodo dolor. Aliquam porta arcu nec massa viverra, quis bibendum ante mattis. Quisque placerat eros vitae quam sollicitudin volutpat.

                p Sed sodales urna ut tellus rhoncus, id laoreet sapien vulputate. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam sit amet mi hendrerit, viverra urna eu, aliquet justo. Phasellus consequat sodales lectus suscipit aliquet. Praesent aliquam placerat tristique. Maecenas ut pulvinar lectus, sed congue ligula. Fusce nisl elit, posuere a elementum vitae, sodales sit amet nulla. Curabitur viverra eleifend semper. Sed mi nulla, commodo eu hendrerit vel, interdum vel justo. Duis id tellus id purus imperdiet dignissim. Praesent interdum mauris non sem viverra porta.
    
    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Praesent aliquam placerat tristique. Maecenas ut pulvinar lectus, sed congue ligula. Fusce nisl elit, posuere a elementum vitae, sodales sit amet nulla.
             
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Praesent aliquam placerat tristique. Maecenas ut pulvinar lectus, sed congue ligula. Fusce nisl elit, posuere a elementum vitae, sodales sit amet nulla.
                
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precio", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Praesent aliquam placerat tristique. Maecenas ut pulvinar lectus, sed congue ligula. Fusce nisl elit, posuere a elementum vitae, sodales sit amet nulla.    